@import "tailwindcss";
@config "../tailwind.config.mts";

:root {
  --background: #ffffff;
  --foreground: #2b2f33;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
